<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fantasy</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="topnav">
      <a href="/"> Home</a>
      <a href="teams">Teams</a>
      <a href="all_games">All Games</a>
      <a href="stats">General Stats</a>
      <a class="active" href="fantasyEuro2020">Fantasy Euro 2020</a>
      <a href="randomfacts">Random Facts</a>
    </div>
    <h1>Welcome to The Fantasy Euro 2020!</h1>
    <h2>Imagine Cristiano Ronaldo was German, would you wonder how the stats would look like?</h2>
    <h3>Try and see how things would be:</h3>
    <h4>Update some features of a player:<a href="update">UPDATE</a></h4>
    <h4>Create your own imaginary team:<a href="fantasy_draft">FANTASY DRAFT</a></h4>
    <h4>Release a player from their national team:<a href="release">RELEASE A PLAYER</a></h4>
</body>
</html>
