<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Random Facts</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <div class="topnav">
      <a href="/"> Home</a>
      <a href="teams">Teams</a>
      <a href="all_games">All Games</a>
      <a href="stats">General Stats</a>
      <a href="fantasyEuro2020">Fantasy Euro 2020</a>
      <a class="active" href="randomfacts">Random Facts</a>
    </div>
    <h1>Random Facts About Euro 2020</h1>
    <h3>Most Distance covered team in a match: {% for item in mostdistancecoveredgame %} {{item[0]}} | {{item[1]}} {% endfor %}km.  </h3>
    <h3>Most corners used by a team in a match: {% for item in mostcorner %} {{item[0]}} | {{item[1]}} {% endfor %} corners.</h3>
    <h3>Most fouls committed by a team in a match: {% for item in mostfoulscommitted %} {{item[0]}} | {{item[1]}} {% endfor %} fouls.</h3>
    <h3>Most goals scored in a single match by team: {% for item in mostgoalsscored %} {{item[0]}} | {{item[1]}} {% endfor %} goals.</h3>
    <h3>Most goals conceded in a single match by team: {% for item in mostgoalsconceded %} {{item[0]}} | {{item[1]}} {% endfor %} goals.</h3>
    <h3>Highest passing accuracy in a match by team: {% for item in mostpassacc %} {{item[0]}} | {{item[1]}} {% endfor %}%.</h3>
    <table>
        <tr>
            <th>Referee </th>
            <th>Yellow Cards</th>
        </tr>
        {% for item in yellowcardref %}
        {% if yellowcardref.index(item)<5: %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
    <table>
    <tr>
            <th>Referee </th>
            <th>Red Cards</th>
        </tr>
        {% for item in redcardref %}
        {% if redcardref.index(item)<5: %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
</html>